XcodebuildNvimApp.xcodeproj/project.xcworkspace/xcuserdata/wkulik.xcuserdatad/UserInterfaceState.xcuserstate
XcodebuildNvimApp.xcodeproj/xcuserdata/wkulik.xcuserdatad/xcschemes/xcschememanagement.plist
